* * * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake blocked_ips_cron
* * * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake code_deploy_cron
* * * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake customer_cache_updates_cron
* * * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake dms_api_customer_refresh_wr_cron
* * * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake import_files_cron
* * * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake launch_queue_worker_cron
* * * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake server_stats_cron
*/10 * * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake text_message_delivery_status_cron
*/15 * * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake system_check_cron
0 * * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake payer_customer_links_cron
0 * * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake customer_notifications_cron
0 * * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake import_files_ftp_sync_cron
0 4 * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake dealer_daily_stats_recording
0 5 * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake delete_old_twilio_conversations
1 6 * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake nightly_cleanup_cron
30 6 * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake test_drive_clean_up_cron
0 8 * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake chargify_integration_cron
30 12 * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake payment_collections_cron
30 12 * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake customer_signup_promo_cron
* * * * * /home/cpsandbox/versions/dev/CarPayCakeSites/CakePayerSite/bin/cake blocked_ips_cron